body{
	margin:0 auto;
}
header{
    background-color: black;
    color:white;
    padding:60px;
    margin-bottom: 10px;    
    text-align:center;   
}



/*===========================
           FOOTER
===========================*/

footer{
    color:white;
    bottom:0;
    padding:20px;
    text-align:center;
}


.primary {
    background-color:black; color:black;
}
.secondary{
    background-color:darkgrey;
}